<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="{{ path('app_home') }}" class="navbar-brand">Mon Site Symfony 7</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="{{ path('app_home') }}" class="nav-link">Accueil</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Ajouter article</a>
                </li>
            </ul>
        </div>
    </div>
</nav>